<h1>new purchase</h1>
<%= flash[:error_message_for_user] %>
<%= form_for @purchase do |f| %>
  <%= f.text_field :customer_name %>
  <%= f.number_field :price, step: 0.01 %>
  <%= f.collection_select :brew_id, @all_brews, :id, :blend_name %>
  <%= f.submit %>
<% end %>
  