<%= form_with(model: tea, local: true) do |form| %>
  <% if tea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tea.errors.count, "error") %> prohibited this tea from being saved:</h2>

      <ul>
        <% tea.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :strength %>
    <%= form.number_field :strength %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tea_type %>
    <%= form.text_field :tea_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
