<p id="notice"><%= notice %></p>

<h1>Teas</h1>

<table>
  <thead>
    <tr>
      <th>Strength</th>
      <th>Name</th>
      <th>Tea type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teas.each do |tea| %>
      <tr>
        <td><%= tea.strength %></td>
        <td><%= tea.name %></td>
        <td><%= tea.tea_type %></td>
        <td><%= link_to 'Show', tea %></td>
        <td><%= link_to 'Edit', edit_tea_path(tea) %></td>
        <td><%= link_to 'Destroy', tea, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tea', new_tea_path %>
