
<div class="form">
    <h1>Form</h1>
    <h2>Brew</h2>
</div>
<%= form_for @brew do |f| %>
    <%= f.label :blend_name %>
    <%= f.text_field :blend_name%>

    <%= f.label :origin %>
    <%= f.text_field :origin%>

    <%= f.label :notes %>
    <%= f.text_area :notes%>

    <%= f.label :strength %>
    <%= f.number_field :strength%>

    <%= f.submit %>
<%end%>